@model OtoServisSatis.Entities.Rol

@{
    ViewData["Title"] = "Edit";
}


<div class="row">
    <div class="col-md-8 card">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Adi" class="control-label"></label>
                <input asp-for="Adi" class="form-control" />
                <span asp-validation-for="Adi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Rol Bilgilerini Güncelle" class="btn btn-primary my-2" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-danger my-2">Geri Dön</a>
</div>

