@model IEnumerable<OtoServisSatis.Entities.Rol>

@{
    ViewData["Title"] = "Index";
}


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Adi)
            </th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Adi)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning text-white">Güncelle <i class="bi bi-pencil"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger text-white">Sil <i class="bi bi-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
<a asp-action="Create" class="btn btn-primary">Yeni Rol Ekle <i class="bi bi-database"></i></a>
